.background {
    background-color: rgb(56, 56, 139);
    width: 1200px;
    height: 720px;
    border: 10px solid black;
    border-radius: 60px;
    margin: auto;
}

#basketball {
    display: block;
    margin: auto;
    margin-top: 230px;
    width: 300px;
    height: 150px;
}

#period {
    color: white;
    font-size: 80px;
    margin-left: 455px;
    margin-bottom: 0px;
    margin-top: -5px;
}

#home {
    color: white;
    font-size: 90px;
    margin-left: 90px;
    margin-top: 140px;
    margin-bottom: 0px;
}

#visitor {
    color: white;
    font-size: 90px;
    margin-left: 800px;
    margin-top: -105px;
    margin-bottom: 0px;
}

.period1 {
    color: white;
    background-color: black;
    font-size: 90px;
    margin: auto;
    margin-top: -250px;
    width: 320px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 55px;
}

.timer {
    color: white;
    background-color: black;
    font-size: 90px;
    margin: auto;
    margin-top: -670px;
    width: 570px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

.home1 {
    color: white;
    background-color: black;
    font-size: 90px;
    margin-left: 185px;
    margin-top: 70px;
    width: 320px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.visitor1 {
    color: white;
    background-color: black;
    font-size: 90px;
    margin-left: 945px;
    margin-top: -290px;
    width: 320px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 20px;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 90px;
}

.timerSec {
    margin-top: -104px;
    margin-left: 108px;
    padding: 0px;
}

.timerMin {
    margin-left: -108px;
}

.shotclock {
    color: rgb(255, 0, 0);
    font-weight: 500;
    background-color: black;
    font-size: 80px;
    margin-left: 1080px;
    margin-top: -520px;
    width: 160px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;
    padding-top: 23px;
    padding-bottom: 23px;
}

.buttons {
    margin-top: 570px;
}